/*内页*/

.menu {
  /*width: 20%;*/
  /*float: left;*/
}

.menu span {
  background: #3ba5e2;
  line-height: 48px;
  font-size: 18px;
  width: 100%;
  float: left;
  color: #fff;
  text-indent: 1em;
}

.menu i {
  font-size: 14px;
  font-style: normal;
}

.menu ul li {
  width: 100%;
  line-height: 48px;
  font-size: 16px;
  background: #fff;
  color: #2797d8;
  border-bottom: 1px #efefef solid;
}

.menu ul li:hover {
  background: #fff;
}
