<div>
  <button mat-raised-button color="warn" style="width:100%;margin: 0 auto 10px auto;font-size: 20px"
          (click)="openFileDialog()">
    <span>新增</span>
    <fa-icon [icon]="faAngry" [fixedWidth]="true"></fa-icon>
  </button>
</div>
<input type="file" id="browsefile" style="display: none" accept="image/*" (change)="onchangeSelectFile($event)">
<mat-grid-list cols="2" class="container">
  <mat-grid-tile [colspan]="2" *ngFor="let img of headerImgs">
    <mat-card class="post-tile">
      <img mat-card-image [src]="img?.url"/>
      <mat-card-actions>
        <!--<button mat-button color="primary" (click)="openFileDialog(img.id)">编辑</button>-->
        <button mat-button color="warn" (click)="deleteHeaderImg(img?.id)">删除</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
