<div class="container">
  <div
    fxLayout="row wrap "
    fxLayout.lt-md="column"
    fxLayoutAlign="start">

    <div class="item" fxFlex="100" fxFlexOrder="1">
      <app-zone1 scrollid="s1"></app-zone1>
    </div>

    <div class="item" fxFlex="50" fxFlexOrder="2">
      <app-zone2></app-zone2>
    </div>

    <div class="item" fxFlex="50" fxFlexOrder="3">
      <app-zone2></app-zone2>
    </div>

    <div class="item" fxFlex="50" fxFlexOrder="4">
      <app-zone2></app-zone2>
    </div>

    <div class="item" fxFlex="100" fxFlexOrder="6">
      <app-zone3></app-zone3>
    </div>

    <div class="item" fxFlex="50" fxFlexOrder="5">
      <app-zone2></app-zone2>
    </div>

  </div>
</div>


<!--<div fxLayout='column'>-->
<!--<div fxFlex="33" [fxFlex.md]="200" style="background-color: #0c7dd8"></div>-->
<!--<div fxFlex="300" fxLayout="column" fxLayout.md="row">-->
<!--<div fxFlex="22" fxFlex.md="100px" fxHide.lg style="background-color: #ff8f78"></div>-->
<!--<div fxFlex="205px" fxFlex.md="65" style="background-color: #d488ff"></div>-->
<!--<div fxFlex="300px" fxFlex.md="25" fxShow fxHide.md="true" style="background-color: #5d36ff"></div>-->
<!--</div>-->
<!--<div fxFlex style="background-color: #63ff6c"></div>-->
<!--</div>-->
