<div class="footer " style=" border-top: 2px #079fd7 solid;">
  <div class=" container" style="padding-top: 10px">
    <div
      fxLayout="row wrap "
      fxLayoutAlign="center"
      fxLayoutGap="5px"
    >
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
      <select fxFlex="10" fxFlex.lt-md="30"  fxFlex.xs="45" name="">
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
        <option>国家部委网站</option>
      </select>
    </div>
  </div>

  <div class="bottom">
    <span>版权所有©宁波通途&地空投资开发有限公司
      <br> 地址：宁波市江东区东部新城和济街68号城投大厦25-26层 邮编：315010 传真：0574-87191251、87191058
      <br> 网络实名：宁波通途&地空投资开发有限公司 浙ICP备12013283</span>
  </div>
</div>
