<div class="content">
  <div class="content_top">在建项目</div>

  <div class="content_pro">
    <ul>
      <li *ngFor="let article of articleList">
      <img [src]="article.cover">
      <span>{{article.title}}</span>
      <i>{{article.preview}}</i>
      </li>
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
      <!--<li>-->
        <!--<img src="assets/img/tu3.jpg">-->
        <!--<span>宁波市城市天然气利用工程</span>-->
        <!--<i>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。-->
          <!--城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...-->
        <!--</i>-->
      <!--</li>-->
    </ul>
  </div>
  <div style="clear: both">
    <app-paginator class="pagination" [rows]="pageSize" [currentPage]="0" [totalRecords]="artcileCount"></app-paginator>
  </div>
  <!--<ul class="pagination">-->
  <!--<li>-->
  <!--<a href="#">&laquo;</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#">1</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#">2</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#">3</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#">4</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#">5</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#">&raquo;</a>-->
  <!--</li>-->
  <!--</ul>-->
</div>
