<div class="index_new2">
  <div class="index_new2_top">
    <span></span>企业文化  <i>/Culture</i>
  </div>
  <div class="index_new2_n">
    <img src="assets/img/tu2.jpg">
    <b>打造党建文化长廊  开启党建阵地建设</b>
    <span>根据甬国资委《关于推进市属企业党建阵地标准化建设工作的通知》（甬国资党〔2018〕8号）文件精神及城投公司部署要求，绿能党支部从今年4月起，在原先党工团等群组织活动场所基础上，按照建设“三室、两栏、一馆、一标志”标准化党员活动阵地</span>
    <i>发布时间：2018-01-09</i>
    <a [routerLink]="['../other/1/detail']">查看详情</a>
  </div>
  <ul class="index_new_list">
    <a  [routerLink]="['../other/1/detail']">
      <li><b>打造党建文化长廊 开启党建阵地建设...</b>
        <span>2018-04-05</span>
      </li>
    </a>
    <a [routerLink]="['../other/1/detail']">
      <li> <b>慈开公司党支部开展“七一”党课学习 不忘入党初心...</b>
        <span>2018-04-05</span>
      </li>
    </a>
    <a [routerLink]="['../other/1/detail']">
      <li><b>广场公司“守望初心、筑梦天一、展我风采”员工才艺大赛闭幕...</b>
        <span>2018-04-05</span>
      </li>
    </a>
    <a [routerLink]="['../other/1/detail']">
      <li> <b>党建进工地 引领促建设——通投公司组织开展通途路综合管廊项目“党建进工地”系...</b>
        <span>2018-04-05</span>
      </li>
    </a>
    <a [routerLink]="['../other/1/detail']">
      <li><b>兴光公司选手参加海曙区第七届微型党课授课比赛斩获佳绩...</b>
        <span>2018-04-05</span>
      </li>
    </a>
    <a [routerLink]="['../other/1/style1']" class="more">更多</a>
  </ul>
</div>
