<div class="index_new2">
  <div class="index_new2_top">
    <span></span>企业文化
  </div>
  <div class="index_new2_n">
    <img src="assets/img/tu2.jpg">
    <b>褚银良副市长督查环城南路东段快速化改...</b>
    <span>1月8日下午，褚银良副市长到环城南路东段快速化改造工程现场，督查中心城区建设用地“围而未建、建而不快”问题。城投公司总经理周宏伟陪同...</span>
    <span>发布时间：2018-01-09</span>
    <a href="#">查看详情</a>
  </div>
  <ul class="index_new_list">
    <a href="#">
      <li>市委常委、组织部部长钟关华调研宁波市委党...
        <span>2018-04-05</span>
      </li>
    </a>
    <a href="#">
      <li>市委常委、组织部部长钟关华调研宁波市委党...
        <span>2018-04-05</span>
      </li>
    </a>
    <a href="#">
      <li>市委常委、组织部部长钟关华调研宁波市委党...
        <span>2018-04-05</span>
      </li>
    </a>
    <a href="#">
      <li>市委常委、组织部部长钟关华调研宁波市委党...
        <span>2018-04-05</span>
      </li>
    </a>
    <a href="#">
      <li>市委常委、组织部部长钟关华调研宁波市委党...
        <span>2018-04-05</span>
      </li>
    </a>
    <a href="#" class="more">更多</a>
  </ul>
</div>
