<div class="index_new2">
  <div class="index_new2_top">
    <span></span>{{navigation1}} <i>/ {{navigation2}}</i>
  </div>
  <div class="index_new2_n">
    <img [src]="article?.cover">
    <b>{{article?.title}}</b>
    <i>发布时间：{{article?.date}}</i>
    <span>{{article?.preview}}</span>
    <div style="clear: both">
      <a (click)="showArticleDetail(article)">查看详情</a>
    </div>
  </div>
  <ul class="index_new_list">

    <li *ngFor="let a of articlesRelate | async" (click)="showArticleDetail(a)">
      <b> {{a?.title}}</b>
      <span>{{a?.date}}</span>
    </li>
  </ul>
</div>
