<div class="col-md-4 col-sm-6 imgCenter">
   <img style="display: inline-block" src="assets/img/tu1.jpg" title="褚银良副市长督查环城南路东段快速化改...">
</div>
<div class="col-md-8 col-sm-6 ">
  <div class="scrollbox">
    <div class="lanmu_names">
      <div class="lanmu_names_tou">
        <h3>行业动态</h3>
        <h4>NEWS</h4>
      </div>
      <span>
        <b></b>
      </span>
      <div class="scroltit">
        <div class="updown but_up"  [id]="butdownId" >向下</div>
        <div class="updown but_down"  [id]="butupId" >向上</div>
      </div>
    </div>
    <div [id]="scrollid" class="scrollDiv">
      <ul>
        <li>
          <div class="time">
            <h4>10月</h4>
            <h5>25</h5>
          </div>
          <div class="nnei">
            <h3>
              <a href="#" class="linktit">市委常委、组织部部长钟关华调研宁波市委党</a>
            </h3>
            <div class="neirong">1月8日下午，褚银良副而未建、建而不快”问题。城投公司总经理周宏伟陪同督查...</div>
          </div>
        </li>
        <li>
          <div class="time">
            <h4>10月</h4>
            <h5>25</h5>
          </div>
          <div class="nnei">
            <h3>
              <a href="#" class="linktit">市委常委、组织部部长钟关华调研宁波市委党</a>
            </h3>
            <div class="neirong">1月8日下午，褚银良副市长到环城南路东程现场，督查中心城区建设用地“围而未建、建而不快”问题。城投公司总经理周宏伟陪同督查...</div>
          </div>
        </li>
        <li>
          <div class="time">
            <h4>10月</h4>
            <h5>25</h5>
          </div>
          <div class="nnei">
            <h3>
              <a href="#" class="linktit">市委常委、组织部部长钟关华调研宁波市委党</a>
            </h3>
            <div class="neirong">1月8日下午，褚银良副市长到环城南路东段快速化改造工程现场，督查中心城区建设用地“围而未建、建而不快”问题。城投公司总经理周宏伟陪同督查...</div>
          </div>
        </li>
        <li>
          <div class="time">
            <h4>10月</h4>
            <h5>25</h5>
          </div>
          <div class="nnei">
            <h3>
              <a href="#" class="linktit">市委常委、组织部部长钟关华调研宁波市委党</a>
            </h3>
            <div class="neirong">城南路东段快速化改造工程现场，督查中心城区建设用地“围而未建、建而不快”问题。城投公司总经理周宏伟陪同督查...</div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
