<div class="col-md-4 col-sm-6 imgCenter">
  <img style="display: inline-block" [src]="imgUrl" title="褚银良副市长督查环城南路东段快速化改...">
</div>
<div class="col-md-8 col-sm-6 ">
  <div class="scrollbox">
    <div class="lanmu_names">
      <div class="lanmu_names_tou">
        <h3>{{navigation1}}</h3>
        <h4>{{navigation2}}</h4>
      </div>
      <span>
        <b></b>
      </span>
      <div class="scroltit">
        <div class="updown but_up" [id]="butdownId">向下</div>
        <div class="updown but_down" [id]="butupId">向上</div>
      </div>
    </div>
    <div [id]="'s'+scrollid" class="scrollDiv">
      <ul>
        <li *ngFor="let article of articles" (click)="showArticleDetail(article)">
          <div class="time">
            <h4>{{article.year}}年</h4>
            <h5>{{article.month}}月</h5>
          </div>
          <div class="nnei">
            <h3>
              <a class="linktit">{{article.title}}</a>
            </h3>
            <div class="neirong">{{article.preview}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
