<h2 mat-dialog-title>编辑链接</h2>
<mat-dialog-content class="post-form">
  <form [formGroup]="linkForm">
    <mat-form-field>
      <mat-select formControlName="group" placeholder="组名" required>
        <mat-option *ngFor="let tag of linkGroup | async" [value]="tag.id">{{tag.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="链接名" formControlName="name" required/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="链接地址" formControlName="url" required/>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="doPost()" [disabled]="!linkForm.valid">确定</button>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
