<nav class="navbar navbar-index ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['./home']" class="hvr-shutter-out-horizontal">网站首页</a></li>
        <li *ngFor="let t of titles | async ;let i=index">
          <a (click)="showTitle(t)" class="hvr-shutter-out-horizontal">{{t.name}}</a>
        </li>
        <li><a [routerLink]="['/login']" class="hvr-shutter-out-horizontal">后台登陆</a></li>
      </ul>
    </div>
  </div>
</nav>
