<nav class="navbar navbar-index ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['./home']" class="hvr-shutter-out-horizontal">网站首页</a></li>
        <li><a [routerLink]="['./other/1']" class="hvr-shutter-out-horizontal">公司介绍</a></li>
        <li><a [routerLink]="['./other/2']" class="hvr-shutter-out-horizontal">企业文化</a></li>
        <li><a [routerLink]="['./other/3']" class="hvr-shutter-out-horizontal">行业动态</a></li>
        <li><a [routerLink]="['./other/4']" class="hvr-shutter-out-horizontal">项目展示</a></li>
        <li><a [routerLink]="['./other/5']" class="hvr-shutter-out-horizontal">专题专栏</a></li>
        <li><a [routerLink]="['./other/6']" class="hvr-shutter-out-horizontal">规章制度</a></li>
        <li><a [routerLink]="['./other/7']" class="hvr-shutter-out-horizontal">联系我们</a></li>
        <li><a [routerLink]="['/login']" class="hvr-shutter-out-horizontal">后台登陆</a></li>
      </ul>
    </div>
  </div>
</nav>
