<h2 mat-dialog-title="新增栏目"></h2>
<form [formGroup]="formModel">
  <mat-dialog-content class="post-form">
    <mat-form-field required>
      <mat-select placeholder="等级" formControlName="level" >
        <mat-option [value]="0">顶级</mat-option>
        <mat-option *ngFor="let t of titleList" [value]="t.id">{{t.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field required>
      <input matInput placeholder="名称" formControlName="name"/>
    </mat-form-field>

    <div class="form-group">
      <label>是否启用:</label>
      <mat-slide-toggle class="example-margin" color="accent" [checked]="true" disabled="false"
                        (change)="statusChange($event)">
        {{statusMess}}
      </mat-slide-toggle>
    </div>
  </mat-dialog-content>
</form>


<mat-dialog-actions>
  <button mat-button color="primary" (click)="doPost()">确认</button>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
