<section style="margin: 5% 5%">
  <form [formGroup]="params" (change)="getTitles()">
    <mat-form-field>
      <mat-select placeholder="等级" formControlName="typeLevel">
        <mat-option [value]="null">無</mat-option>
        <mat-option [value]="1">1级</mat-option>
        <mat-option [value]="2">2级</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="样式" formControlName="displayStyle">
        <mat-option [value]="null">無</mat-option>
        <mat-option [value]="1">列表</mat-option>
        <mat-option [value]="2">九宫格</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="状态" formControlName="inNavigationBar">
        <mat-option [value]="null">無</mat-option>
        <mat-option [value]="true">开启</mat-option>
        <mat-option [value]="false">禁用</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-paginator #paginator
                 [length]="totalCount"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5,10,15]">
  </mat-paginator>
  <button mat-raised-button color="accent" (click)="editTitle()"> 新增</button>
  <mat-table [dataSource]="titles" matSort (matSortChange)="changeSort($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>栏目名称</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="typeLevel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>等级</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.typeLevel }}级</mat-cell>
    </ng-container>
    <ng-container matColumnDef="displayStyle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>展示风格</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.displayStyle }}</mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="updateBy">-->
    <!--<mat-header-cell *matHeaderCellDef mat-sort-header>维护人</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let row">{{ row.updateBy }}</mat-cell>-->
    <!--</ng-container>-->
    <ng-container matColumnDef="inNavigationBar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>状态</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-slide-toggle (change)="updateTitleStatus($event, row)" [checked]="row.inNavigationBar"></mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <u>操作</u>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="editTitle(row.id)">编辑</button>
        <button mat-button color="warn" (click)="deleteTitle(row)">删除</button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['name','typeLevel','displayStyle','inNavigationBar','management']"></mat-header-row>
    <mat-row
      *matRowDef="let Row; columns: ['name','typeLevel','displayStyle','inNavigationBar','management']"></mat-row>
  </mat-table>

</section>
