<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      友情链接
      <mat-icon style="vertical-align: middle">link</mat-icon>
    </ng-template>
    <div style="margin: 5% 5%;">
      <mat-table [dataSource]="linkDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>链接名</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef>链接地址</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="updateBy">
          <mat-header-cell *matHeaderCellDef>维护人</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.updateBy}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="management">
          <mat-header-cell *matHeaderCellDef>管理</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button color="primary">编辑</button>
            <button mat-button color="warn" [disabled]="!row.auth">删除</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['name', 'address', 'updateBy', 'management']"></mat-header-row>
        <mat-row *matRowDef="let linkRow; columns: ['name', 'address', 'updateBy', 'management']"></mat-row>
      </mat-table>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      copyright
      <mat-icon style="vertical-align: middle">copyright</mat-icon>
    </ng-template>
    <mat-form-field>
      <textarea matInput [froalaEditor]="options"></textarea>
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
