<mat-toolbar color="primary" class="back-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{sideNav.opened ? 'close' : 'menu'}}</mat-icon>
  </button>
  <span>xxx公司门户后台管理系统</span>
  <fa-icon [icon]='faHandPointRight' [fixedWidth]="true" size="lg"></fa-icon>
  <span> {{menuItem}}</span>
  <!-- 在這之後的都會被推到右邊去 -->
  <span class="toolbar-seprator"></span>
  <button mat-icon-button (click)="loginOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="back-container">
  <mat-sidenav class="back-sidenav" mode="push" #sideNav>
    <app-manage (menuItem)="showMenuItem($event)"></app-manage>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>




