.back-header {
  position: fixed;
  top: 0;
  z-index: 2;
}
.back-container {
  position: absolute;
  padding-top: 64px;
  height: 100vh;
  width: 100%;
}

.back-sidenav {
  padding-top: 64px;
  width: 300px;
}
