
.tab-content {
  float: left;
  border-top: none;
}

.index_new_list1 li {
  width: 31%;
  float: left;
  margin: 1%;
}

.index_new_list1 li b {
  font-size: 16px;
  color: #676767;
  width: 100%;
  float: left;
  padding: 10px;
  font-weight: 500;
}

.index_new_list1 li span {
  font-size: 14px;
  color: #676767;
  width: 100%;
  float: left;
  margin: 10px 0;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.index_new_list1 li img{
  width: 360px;
  height: 260px;
}
.index_new_list1 li a {
  color: #fff;
  background: #2797d8;
  width: 40%;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  float: left;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3883ad;
}
