<ul id="myTab" class="nav nav-tabs">
  <li *ngFor="let t of categories;let i=index" [ngClass]="{'active':i===0}"
      (click)="showArticles(t.id)">
    <a data-toggle="tab">{{t?.name}}</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <ul class="index_new_list1">
    <li *ngFor="let a of articles" (click)="showArticleDetail(a)">
      <img [src]="a?.cover">
      <b>{{a?.title}}</b>
      <span>{{a?.preview}}</span>
      <a class="hvr-shutter-out-horizontal">查看详情</a>
    </li>
  </ul>
</div>
