<section style="margin: 5% 5%">
  <form [formGroup]="paramsForm">
    <mat-form-field>
      <input matInput placeholder="标题" formControlName="title" (change)="getArticles( )"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="栏目" formControlName="type" (change)="getArticles( )">
        <mat-option [value]="null">無</mat-option>
        <mat-optgroup *ngFor="let t of titleList | async" [label]="t.name">
          <mat-option *ngFor="let child of t.childs" [value]="child.id">{{child.name}}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="起始日期" formControlName="dateStart" (change)="getArticles( )"/>
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="截止日期" formControlName="dateEnd" (change)="getArticles( )"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="状态" formControlName="hide" (change)="getArticles( )">
        <mat-option [value]="null">無</mat-option>
        <mat-option [value]="false">开启</mat-option>
        <mat-option [value]="true">关闭</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-paginator #paginator
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5,10,15]">
  </mat-paginator>
  <button mat-raised-button color="accent" (click)="editArticle()"> 新增</button>
  <mat-table [dataSource]="articles" matSort (matSortChange)="changeSort($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>标题</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creatorUserName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>发布人</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.creatorUserName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creatorDeptName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>归属部门</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.creatorDeptName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="createTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>发布日期</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.createTime }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="hide">
      <mat-header-cell *matHeaderCellDef mat-sort-header>状态</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-slide-toggle class="example-margin" color="accent" [checked]="!row.hide">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <div style="text-align: center">管理</div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div style="text-align: center">
          <button mat-button color="primary" (click)="editArticle(row.id)">编辑</button>
          <button mat-button color="warn" (click)="deleteArticle(row.id)">删除</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['title','creatorUserName','creatorDeptName','createTime','hide','management']"></mat-header-row>
    <mat-row
      *matRowDef="let emailRow; columns: [ 'title','creatorUserName','creatorDeptName', 'createTime','hide', 'management']"></mat-row>
  </mat-table>

</section>
