<section style="margin: 5% 5%">
  <form [formGroup]="paramsForm">
    <mat-form-field>
      <input matInput placeholder="标题" formControlName="title" (change)="getArticles( )"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="展示栏目等级"   (selectionChange)="levelOnOff($event)">
        <mat-option [value]="null">無</mat-option>
        <mat-option [value]="1">1级</mat-option>
        <mat-option [value]="2">2级</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <!-- 一级下拉-->
      <mat-select *ngIf="levelON_OFF" placeholder="所属栏目" formControlName="category" (change)="getArticles( )">
        <mat-option [value]="null">無</mat-option>
        <mat-option *ngFor="let c of categoryLevel1 | async" [value]="c.id">
          {{c.name}}
        </mat-option>
      </mat-select>
      <!--二级下拉-->
      <mat-select *ngIf="!levelON_OFF" placeholder="所属栏目" formControlName="category" (change)="getArticles( )">
        <mat-option [value]="null">無</mat-option>
        <mat-optgroup *ngFor="let l1 of categoryTree | async" [label]="l1.name">
          <mat-option *ngFor="let l2 of l1.childs" [value]="l2.id">{{l2.name}}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="date" matInput placeholder="起始日期" formControlName="startDate" (change)="getArticles( )"/>
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="截止日期" formControlName="endDate" (change)="getArticles( )"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="状态" formControlName="show" (change)="getArticles( )">
        <mat-option [value]="null">無</mat-option>
        <mat-option [value]="true">开启</mat-option>
        <mat-option [value]="false">关闭</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-raised-button color="accent" (click)="editArticle()"> 新增</button>
  <mat-table [dataSource]="articles" matSort (matSortChange)="changeSort($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>标题</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef>所属栏目</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.categoryName}}</mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="creatorUserName">-->
    <!--<mat-header-cell *matHeaderCellDef mat-sort-header>发布人</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let row"> {{row.creatorUserName}}</mat-cell>-->
    <!--</ng-container>-->


    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>发布日期</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.date }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="show">
      <mat-header-cell *matHeaderCellDef mat-sort-header>状态</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-slide-toggle class="example-margin" color="accent" [checked]="row.show">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <div style="text-align: center">管理</div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div style="text-align: center">
          <button mat-button color="primary" (click)="editArticle(row.id)">编辑</button>
          <button mat-button color="warn" (click)="deleteArticle(row.id)">删除</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['title','categoryName','date','show','management']"></mat-header-row>
    <mat-row
      *matRowDef="let emailRow; columns: [ 'title','categoryName', 'date','show', 'management']"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5,10,15]">
  </mat-paginator>
</section>
