<ul id="myTab" class="nav nav-tabs">
  <li *ngFor="let t of titles" [ngClass]="{'active':t.id === module.articleTypeId}"
      (click)="showArticles(t.id)">
    <a data-toggle="tab">{{t?.name}}</a>
  </li>
  <!--<li>-->
  <!--<a href="#tow" data-toggle="tab">竣工项目</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#Three" data-toggle="tab">待建项目</a>-->
  <!--</li>-->
</ul>

<div id="myTabContent" class="tab-content">
  <!--<div class="tab-pane fade in active" id="one">-->
  <!---->
  <!--</div>-->
  <ul class="index_new_list1">
    <li *ngFor="let a of articles" (click)="showArticleDetail(a)">
      <img src="assets/img/tu3.jpg">
      <b>宁波市城市天然气利用工程</b>
      <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线...
        </span>
      <a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>
    </li>
    <!--<li>-->
      <!--<img src="assets/img/tu4.jpg">-->
      <!--<b>五路四桥项目</b>-->
      <!--<span>2005年底，为适应城市交通快速增长和经济发展水平提升的需要，宁波市委、市政府决定建设“五路四桥”项目。五路，即通途路西段（新芝路—机场路）、惊驾路—城庄路（分为世纪大道—桑田路段、曙光路—通途路段、环城北路—北外环路段等三段）、机场路...-->
        <!--</span>-->
      <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<img src="assets/img/tu5.jpg">-->
      <!--<b>月湖盛园</b>-->
      <!--<span> 名为月湖盛园的郁家巷历史文化街区位于宁波老城中心，紧邻月湖历史文化区，是宁波市区现存为数不多的传统历史街区之一。项目总占地面积约3.9万平方米，总建筑面积约4.9万平方米，是宁波实施“中提升”战略的重点项目之一，也是宁波紫线规划八大历史文化街区最先动工的保护性开发项目。-->
        <!--</span>-->
      <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
    <!--</li>-->
  </ul>
  <!--<div class="tab-pane fade" id="tow">-->
  <!--<ul class="index_new_list1">-->
  <!--<li>-->
  <!--<img src="assets/img/tu6.jpg">-->
  <!--<b>和义大道项目</b>-->
  <!--<span> 和义大道项目是宁波市“三江文化长廊”建设的核心项目，项目的总体定位是打造海曙区一个全新的高档滨江商务休闲区。该项目东北面临余姚江，东南至宁波影都，西南以和义路为界，西北接解放桥连接线，总用地9.98公顷。其中以规划开明桥为界，西北为1#地块，规划为商务地块；东南为2#地块，规划为休闲商业地块。-->
  <!--商务地块内已建设一幢具有宁波市地标意义的160米的超高层建筑——宁波万豪酒店•国际商务中心，该中心地面建筑面积6万多平方米，在其中将布置一个国际五星级酒店和顶级写字楼。和义大道是海城公司的第一个大项目，公司上下非常重视，将对以历史负责、对城市负责、对百姓负责的严谨态度，力争把她建设成为宁波中心城区继天一广场、老外滩后的又一个亮点。-->
  <!--</span>-->
  <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<img src="assets/img/tu7.jpg">-->
  <!--<b>2500t/d新型干法水泥生产线项目</b>-->
  <!--<span>  富达公司下属宁波科环新型建材股份有限公司本部2500t/d新型干法水泥生产线于2003年年底建成投产，由南京水泥工业设计研究院设计，采用五级旋风预热器带分解炉的ø4×60m水泥熟料新型干法窑和无烟煤煅烧新工艺，原料粉磨采用德国非凡公司的mps3750b立磨系统，水泥粉磨采用二台带辊压机ø3.8×13m球磨机，采用美国honeywell公司的dcs集散中央控制系统。另有ø3.8×13m、ø3×12.5m、ø2.4×10m等球磨机组成的特种水泥、矿渣粉生产系统。是宁波市唯一一条自原材料矿山开采到熟料烧成直至水泥产品出厂的完整新型干法水泥生线。-->
  <!--公司在云南蒙自新建的2500d/t新型干法水泥生产线正在全力建设中,预计2009年10月份点火投产。-->
  <!--</span>-->
  <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<img src="assets/img/tu8.jpg">-->
  <!--<b>镇明路地下停车库</b>-->
  <!--<span>作为2004年市政府实事工程的镇明路地下停车库，投资5000多万元，经过10个月的施工，于2005年6月竣工，成为宁波市首座地下三层公共停车库。镇明路停车库西临镇明路，北邻财税大厦，南接迎凤街和石油大厦。工程总建筑面积11360平方米，拥有车位396个。停车库除配置基本智能化设施外，还引入了停车动态诱导系统。-->
  <!--</span>-->
  <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--<div class="tab-pane fade" id="Three">-->
  <!--<ul class="index_new_list1">-->
  <!--<li>-->
  <!--<img src="assets/img/tu9.jpg">-->
  <!--<b>镇江长江新天地项目</b>-->
  <!--<span>富达公司下属企业赛格特公司的镇江长江新天地项目位于镇江润州金山寺旅游区，与金山风景区相毗邻，跟长江相连接，东临新河路，西靠北湖内环线，北依长江引洪北湖，南侧大部为已建住宅区。-->
  <!--本项目主要经济技术指标：-->
  <!--用地总面积：44296平方米-->
  <!--容积率：1.56-->
  <!--总建筑面积：69024平方米-->
  <!--地上总建筑面积：69024平方米-->
  <!--建筑层数：二至三层-->
  <!--本项目是金山风景区的扩展，是金山风景区的重要组成部分。项目用地总面积44296平方米，用地性质为商业。规划总建筑面积69024平方米，建筑层数为二至三层，由7幢商业楼组成，功能以商业、娱乐休闲、旅游等为主。项目于2005年底开工建设，目前工程已全部完工，正在进行单项综合验收。项目建成后，长江新天地将是一个集餐饮、旅游、商务、休闲、娱乐于一体的大型商业旗舰。-->
  <!--</span>-->
  <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<img src="assets/img/tu10.jpg">-->
  <!--<b>福明家园三期项目</b>-->
  <!--<span>福明家园三期项目是江东区委、区政府贯彻落实市委、市政府“中提升”战略，推进城市功能区块开发和重大项目建设而配套的村（民）集中安置项目，属区政府重大项目。项目位于沧海路以东，民安路以北。总用地面积119087平方米，总建筑面积241964平方米，由18幢小高层、25幢多层住宅及一所配套幼儿园、两个大型地下停车库组成，可提供安置房1975套，总概算投资额8.5亿元。-->
  <!--该项目于2007年12月18开工建设。截至2009年5月25日，福明家园三期北区处于主体结构施工阶段，其中5幢单体已结构封顶，总体已完成主体结构工程量的85%；南区处于装饰工程阶段，累计完成装饰工程量的50%，其中内外墙粉刷已完成，屋面防水已完成，外墙面砖完成50%。-->
  <!--</span>-->
  <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<img src="assets/img/tu11.jpg">-->
  <!--<b>湾头RBD项目</b>-->
  <!--<span> 湾头rbd项目是宁波市“三江文化长廊”和江北核心区建设的核心项目。该项目位于日湖西北侧，三面姚江环抱，南临环城北路，总用地235公顷。项目的总体定位是以绿色为背景，以水为基调，宁波市最高档次的具有商务、居住、娱乐、购物、健身等符合功能的城市休闲商务区——城市rbd。-->
  <!--湾头公司将承担湾头rbd项目的前期拓展工作，主要工作内容包括整体区块规划落实、区块内征地拆迁、安置房建设、基础设施建设以及建设用地挂牌招商等，目前湾头区块的安置房建设已经启动，征地拆迁工作也大规模展开，我司上下将以最大的工作热情和“负责任、求时效”的工作态度，力争尽快做好项目开局，抓紧建设，以不负总公司、区市政府和广大市民对湾头区块的美好期望。-->
  <!--</span>-->
  <!--<a [routerLink]="['../other/1/detail']" class="hvr-shutter-out-horizontal">查看详情</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->
</div>
