<ul id="myTab" class="nav nav-tabs">
  <li class="active">
    <a href="#one" data-toggle="tab">在建项目</a>
  </li>
  <li>
    <a href="#tow" data-toggle="tab">竣工项目</a>
  </li>
  <li>
    <a href="#Three" data-toggle="tab">待建项目</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="one">
    <ul class="index_new_list1">
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
    </ul>
  </div>
  <div class="tab-pane fade" id="tow">
    <ul class="index_new_list1">
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
    </ul>
  </div>
  <div class="tab-pane fade" id="Three">
    <ul class="index_new_list1">
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
      <li>
        <img src="assets/img/tu3.jpg">
        <b>宁波市城市天然气利用工程</b>
        <span>宁波市城市天然气利用工程是宁波市重点项目之一，计划总投资11.92亿元。该工程的实施将极大改善甬城的大气环境，促进工业结构和产业结构的调整。 城市天然气利用工程分三期建设，内容包括门站两座、高压输气管线、次高压输气管线、...
        </span>
        <a href="#">查看详情</a>
      </li>
    </ul>
  </div>
</div>
