<h2 mat-dialog-title>编辑文章</h2>
<mat-dialog-content class="post-form">
  <form [formGroup]="articleForm">
    <mat-form-field>
      <mat-select placeholder="展示栏目等级" required formControlName="level" (selectionChange)="levelOnOff($event)">
        <mat-option [value]="1">1级</mat-option>
        <mat-option [value]="2">2级</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <!-- 一级下拉-->
      <mat-select *ngIf="levelON_OFF" placeholder="所属栏目" formControlName="category" required>
        <mat-option *ngFor="let c of categoryLevel1 | async" [value]="c.id">
          {{c.name}}
        </mat-option>
      </mat-select>
      <!--二级下拉-->
      <mat-select *ngIf="!levelON_OFF" placeholder="所属栏目" formControlName="category" required>
        <mat-optgroup *ngFor="let l1 of categoryTree | async" [label]="l1.name">
          <mat-option *ngFor="let l2 of l1.childs" [value]="l2.id">{{l2.name}}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="标题" required formControlName="title"/>
    </mat-form-field>
    <div class="form-group">
      <div style="overflow: hidden;vertical-align:middle;position:relative;">
        <button mat-raised-button color="primary">上传封面</button>
        <input type="file" id="cover" (change)="onchangeSelectFile($event)"
               style="position:absolute;top:0;left:0;font-size:34px; opacity:0">
        <span id="filename" style="vertical-align: middle">未上传文件</span>
      </div>
    </div>
    <div class="form-group">
      <img [src]="imgUrl">
    </div>
    <div class="form-group">
      <label>是否启用:</label>
      <mat-slide-toggle class="example-margin" color="accent" (change)="statusChange($event)" formControlName="show">
        {{statusMessage}}
      </mat-slide-toggle>
    </div>
    <div class="form-group">
      <label>内容:</label>
      <textarea matInput [froalaEditor]="options" formControlName="content"></textarea>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="doPost()" [disabled]="!articleForm.valid">发布</button>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
