<div class="content">
  <div class="content_title">{{articleData?.title}}</div>
  <div class="content_name">来源：{{articleData?.creatorUserName}} 发布时间：{{articleData?.date}}</div>
  <div class="contene_main">
    <div [froalaView]="articleData?.content"></div>
  </div>
  <div class="content_more">
    <div class="content_more_top">更多资讯</div>
    <ul>
      <li *ngFor="let a of relateArticles | async" (click)="showArticleDetail(a.id)">{{a.title}}
        <span>{{a.date}}</span>
      </li>
    </ul>
  </div>
</div>
