<div class="content">
  <div class="content_title">{{articleData?.title}}</div>
  <div class="content_name">来源：{{articleData?.creatorUserName}} 发布时间：{{articleData?.date}}</div>
  <div class="contene_main">
    <!--7月8日上午，海曙区举行环境综合整治工作推进会，全面部署开展全区环境综合整治工作，扎实有效推进城市管理和高品质发展。会上，区委书记孙黎明强调，全区上下要进一步认清形势、提高认识，贯彻落实市委提出的要求，再加压力、再添措施，打赢全区环境整治攻坚战。孙黎明指出，前一阶段，全区上下自觉把环境整治作为一项重要任务，从实抓起，从快落实，做了大量的工作，付出了辛勤的汗水，取得了一定的成效。同时，必须清醒认识到，对照上级领导的要求，对标周边区县(市)的做法，对比老百姓的期盼，还有差距。-->
    <!--<br>-->
    <!--　　孙黎明强调，认识要再深化，思想要再统一。当前，从海曙面临的形势和任务，以及方方面面的反映和要求看，加快环境整治已经刻不容缓、迫在眉睫。上级要求高，发展有需求，群众期盼多，要清醒看到形势的严峻性、任务的艰巨性，背水一战，全力以赴、攻坚克难，坚决打赢这场硬仗。措施要再强化，力度要再加大。在工作标准方面，要突出高起点、全覆盖，在重点领域方面，要不留死角治脏，不厌其烦规范秩序，不遗余力完善设施，在长效机制方面，要坚持疏堵结合，坚持政府推动与市场运作结合，坚持集中整治与精细管理结合。-->
    <div [froalaView]="articleData?.content"></div>
  </div>
  <div class="content_more">
    <div class="content_more_top">更多资讯</div>
    <ul>
      <li *ngFor="let a of relateArticles | async" (click)="showArticleDetail(a.id)">{{a.title}}
        <span>{{a.date}}</span>
      </li>
      <!--<a [routerLink]="['../../1/detail']">-->
      <!--<li>宁波市城市天然气利用工程-->
      <!--<span>2018-09-05</span>-->
      <!--</li>-->
      <!--</a>-->
      <!--<a [routerLink]="['../detail']">-->
      <!--<li>宁波市城市天然气利用工程-->
      <!--<span>2018-09-05</span>-->
      <!--</li>-->
      <!--</a>-->
      <!--<a [routerLink]="['../detail']">-->
      <!--<li>宁波市城市天然气利用工程-->
      <!--<span>2018-09-05</span>-->
      <!--</li>-->
      <!--</a>-->
      <!--<a [routerLink]="['../detail']" style="border: none">-->
      <!--<li>宁波市城市天然气利用工程-->
      <!--<span>2018-09-05</span>-->
      <!--</li>-->
      <!--</a>-->
    </ul>
  </div>
</div>
