<div class="loginuser">
  <span>后台登陆</span>
  <div class="land">
    <input type="text" style="margin-top: 14%" class="name" value="请输入您的用户名" onfocus="javascript:if(this.value=='请输入您的用户名')this.value='';">
    <input type="text" class="name" value="请输入您的密码" onfocus="javascript:if(this.value=='请输入您的密码')this.value='';">
    <input type="text" class="name" value="请输入验证码" onfocus="javascript:if(this.value=='请输入验证码')this.value='';">
    <button type="button" class="btn btn-primary btn_index">点击登陆</button>
  </div>
</div>
