<div class="menu">
  <span>{{navigation}}
    </span>
  <ul>
    <li *ngFor="let m of menus " (click)="showArticles(m)">
      <div class="triangle_border_right"></div>
      <p>{{m.name}}</p>
    </li>
    <!--<a href="#">-->
    <!--<li>-->
    <!--<div class="triangle_border_right"></div>-->
    <!--<a [routerLink]="['./style1']">企业动态</a>-->
    <!--</li>-->
    <!--</a>-->
    <!--<a href="#">-->
    <!--<li>-->
    <!--<div class="triangle_border_right"></div>-->
    <!--<a [routerLink]="['./style1']">企业活动</a>-->
    <!--</li>-->
    <!--</a>-->
  </ul>
  <div class="img">
    <img src="assets/img/pro.jpg">
    <img src="assets/img/pro1.jpg">
  </div>
</div>
