<div class="menu">
  <span>企业文化
    <i>/Culture</i>
  </span>
  <ul>
    <a href="#">
      <li>
        <div class="triangle_border_right"></div>
        通知公告
      </li>
    </a>
    <a href="#">
      <li>
        <div class="triangle_border_right"></div>
        企业动态
      </li>
    </a>
    <a href="#">
      <li>
        <div class="triangle_border_right"></div>
        企业活动
      </li>
    </a>
  </ul>
  <div class="img">
    <img src="assets/img/pro.jpg">
    <img src="assets/img/pro1.jpg">
  </div>
</div>
